svg {
  font-family: 'Russo One', sans-serif;
  position: absolute; 
  width: 100%; height: 100%;
}
svg text {
  text-transform: uppercase;
  stroke-width: 2;
  stroke: #365fa0;
  font-size: 140px;
  fill: rgba(54,95,160,1);
}

