.blog{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20%;
    line-height: 30px;
    gap: 20px;
    position: relative;

    & h1{
        background-color: rgb(143, 137, 137, .2);
        padding: 5px 10px;
        border-radius: 1rem;
    }

    &__content{
        margin-bottom: 50px;
    }

    & span{
        position: absolute;
        right: 10%;
        bottom: 0;
    }

    
}