.select__input{
    background-color: var(--color-bg);
    border-top:none;
    border-right: none;
    border-left: none;
    border-bottom: solid;
    border-color: #696969;
    border-width: 1px;
    outline: none;
    color: #FFFFFF;
}


.danger-alert{
    font-size: 14px;
    color: rgb(241, 81, 81);

}

@media (max-width: 450px) {
    .select__input{
        border-width: .5px;
        width : 250px;
    }

    .danger-alert{
        font-size: 12px;
    }
}